.form {
  grid-area: 18 / 21 / 30 / 30;
  display: grid;
  grid-template-columns: repeat(48, 1fr);
  grid-template-rows: repeat(48, 1fr);
  font-size: 16px;
  padding: 10px;
  border-right: solid 0.5px rgb(30, 255, 0);
  border-bottom: solid 0.5px rgb(30, 255, 0);
  box-shadow: 20px 20px 40px rgb(30, 255, 0);
}

.errorMessage {
  color: red;
  font-weight: bold;
  grid-area: 1 / 3 / 2 / 47;
}
.inputNickname {
  grid-area: 4 / 3 / 12 / 47;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: rgba(45, 44, 44, 0.5);
  color: #fff;
}

.inputPassword {
  grid-area: 15 / 3 / 23 / 47;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: rgba(45, 44, 44, 0.5);
  color: #fff;
}

.inputNickname:placeholder-shown,
.inputPassword:placeholder-shown {
  background-color: rgba(45, 44, 44, 0.5);
}

.inputNickname:-webkit-autofill,
.inputPassword:-webkit-autofill {
  background-color: rgba(45, 44, 44, 0.5) !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(45, 44, 44, 0.5) inset !important;
  -webkit-text-fill-color: #fff !important;
}

.button {
  grid-area: 26 / 3 / 34 / 47;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: rgb(30, 255, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgb(99, 255, 0);
}

.button:active {
  background-color: #ccc;
}

.link {
  grid-area: 40 / 3 / 44 / 47;
  cursor: pointer;
  color: #0099ff; /* неоновый синий */
  text-align: center;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  text-shadow: 0 0 8px #0099ff;
  transition: color 0.3s ease;
  font-size: 16px;
}

.link:hover,
.link:focus,
.link:active {
  text-decoration: underline;
  color: #66ccff;
  text-shadow: 0 0 12px #66ccff;
}

@media (1368px <=width <= 1920px) {
  .form {
    grid-area: 18 / 21 / 30 / 29;
    padding: 10px;
  }
}

@media (1024px <=width <= 1199px) {
  .form {
    grid-area: 18 / 20 / 30 / 30;
    padding: 10px;
  }
}

@media (800px <=width <= 1023px) {
  .form {
    grid-area: 18 / 19 / 30 / 31;
    padding: 10px;
  }
}

@media (680px <=width <= 799px) {
  .form {
    grid-area: 18 / 18 / 30 / 32;
    padding: 10px;
  }
}

@media (500px <=width <= 679px) {
  .form {
    grid-area: 18 / 17 / 30 / 33;
    padding: 10px;
  }
}
@media (420px <=width <= 499px) {
  .form {
    grid-area: 17 / 13 / 32 / 37;
    padding: 10px;
  }

  .inputNickname {
    font-size: 14px;
  }
  .inputPassword {
    font-size: 14px;
  }
  .inputPassword2 {
    font-size: 14px;
  }
  .button {
    font-size: 14px;
  }
}

@media (280px <=width <= 419px) {
   .form {
    grid-area: 17 / 10 / 32 / 40;
    padding: 10px;
  }
  .inputNickname {
    font-size: 14px;
  }
  .inputPassword {
    font-size: 14px;
  }
  .inputPassword2 {
    font-size: 14px;
  }
  .button {
    font-size: 14px;
  }
}
