body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nextjs-portal {
  display: none !important;
}

/* Новые стили для безопасных зон только для (iOS/macOS) */
.content {
  min-height: 100dvh;
  padding-bottom: calc(20px + env(safe-area-inset-bottom));
  padding-top: calc(20px + env(safe-area-inset-top));
}