.adminLayout{
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(48, 1fr);
  grid-template-rows: repeat(48,  1fr);
    border: 1px solid black!important;
    overflow: hidden;
}
.section {
  grid-area: 1 / 1 / 49 / 49 !important;
}
